#ofertas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    /* background-color: aquamarine; */

    & .ofertaImg {
    /* background: radial-gradient(green, yellow); */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 330px;
        height: auto;
        /* Lo mismo que productos extend .img-producto */
        & .img-oferta {
            width: 250px;
            height: 250px;
            padding: 5px;
            margin: 5px;
            border-radius: 15px;
        }
    } 
    
    /* Lo mismo que productos extend .productoImg p*/
    & .ofertaImg p {
        font-size: 18px;
        width: 280px;
        height: auto;
        /* margin-top: 10px; */
    }
   
    /* Lo mismo que productos extend .productoImg */
    & .ofertaImg{
        -webkit-transition: 1s linear;
        transition: 1s linear;
        /* background-color: #2980B9; */
    }
    /* Lo mismo que productos extend .lo mismo que productoImg:hover*/
    & .ofertaImg:hover{
        -webkit-transform: translate(1.2%);
        transform: translate(1.2%);
    }


}