#prodOfertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1.5fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 32rem 32rem;
    gap: 10px;

    & .ofertaImg {
    /* background: radial-gradient(green, yellow); */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;

        & .img-oferta {
            width: 270px;
            height: 300px;
            padding: 5px;
            margin: 5px;
            border-radius: 15px;
        }
    }

    & .ofertaImg p {
        font-size: 18px;
        width: 400px;
        height: auto;
        /* margin-top: 10px; */
    }
    
    & .ofertaImg{
        -webkit-transition: 1s linear;
        transition: 1s linear;
        /* background-color: #2980B9; */
    }

    & .ofertaImg:hover{
        -webkit-transform: translate(1.2%);
        transform: translate(1.2%);
    }
}