* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    /* background-color: rgb(255, 255, 255); */
    background-image: url(../assets/body/fondo7.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}