.navbar {
    background-color: var(--colorNav);
    width: 92vw;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    z-index: 2;

    & .container-fluid .navbar-brand img {
        width: 180px;
        height: 22x;
    }

    & .navbar-nav a:hover {
        border-bottom: 1px solid rgb(33, 13, 148);
        transition: 0.5s;
        cursor: pointer;
    }
}